.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

@media screen and  (max-width:375px) {
  .App-header {
    font-size: 20px;
  }

  .App-content {
    font-size: 14px;
  }

  #console {
    width: 300px;
  }
}

@media screen and  (min-width:376px) {
  .App-header {
    font-size: 60px;
  }

  .App-content {
    font-size: 20px;
  }

  #console {
    width: 350px;
  }
}

@media screen and  (min-width:800px) {
  .App-header {
    font-size: 80px;
  }

  .App-content {
    font-size: 15px;
  }

  #console {
    width: 700px;
  }
}

.App-ul {
  text-align: left;
}

.App-link {
  color: #ff4f00;
}

label {
  color: #ff4f00!important;
}

#console {
  background-color: black;
  font-size: 14px;
  text-align: left;
  margin: 1.5em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
