.header {
  display: flex;
  justify-content: right;
  padding: 10px;
}

.sign-in-btn {
  margin: auto;
  text-align: center;
}

.safe-list {
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.safe-link, .safe-link:visited {
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.App-ul {
  text-align: left;
}

input:-internal-autofill-selected {
 color:red;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #1d241d inset;
}

/* Select Safe to Add box */
#root > div.app-body > div > div > div > div > div:nth-child(2) > div > div > div > div {
  color:white;
}
#root > div.app-body > div > div > div:nth-child(2) > div > div > div > div {
  color:white
}
/* --- */

.MuiList-root {
  background-color: #1d241d;
  color:white
}

.App-link {
  color: #ff4f00;
}

label {
  color: #13d005!important;
}

.transaction {
  /* border: 1px solid orange; */
  border-radius: 7px;
  cursor: pointer;
  word-wrap: break-word;
  padding: 0 1%;
  margin: 2% 10%;
}

.transaction p {
  font-size: smaller;
  margin: 1%
}

#input-frm {
  color:white
}

.transaction button {
  margin-top: 2%;
}

.confimations {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  font-size: smaller;
}

#functionSelect {
  margin-top: 2px;
  color:white;
}

#text-fields {
  color:white;
}

#select-input {
  color: white;
}

.safe {
  padding: 30px;
}